*{
    /* border: 1px solid tomato; */
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

h1 {
    color: plum;
    text-decoration: underline;
    text-align: center;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-div {
    background-color: plum;
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    padding-top: 15px;
}

.title-div {
    display: flex;
    flex-direction: row;
}

.title {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.lasttitle {
    padding-top: 10px;
}

.numbers-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.numbersitem {
    width: 100%;
    height: 100%;
}

#score, #level {
    display: block;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

#scoreDos, #levelDos {
    display: block;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

#scoreTres, #levelTres {
    display: block;
    margin: 0px;
    margin-top: 3px;
    text-align: center;
}

.input {
    font-size: 20px;
}

.button {
    display: block;
    text-align: center;
    width: 50%;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.p-text {
    font-size: 20px;
}

